<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.tengshe789.miaosha.upms.mapper.SysRouteConfMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="tech.tengshe789.miaosha.sys.api.entity.SysRouteConf" id="sysRouteConfMap">
        <result property="routeId" column="route_id"/>
        <result property="predicates" column="predicates"/>
        <result property="filters" column="filters"/>
        <result property="uri" column="uri"/>
        <result property="order" column="order"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>


</mapper>
