<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.tengshe789.miaosha.upms.mapper.SysSocialDetailsMapper">

	<resultMap id="sysSocialDetailsMap" type="tech.tengshe789.miaosha.sys.api.entity.SysSocialDetails">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="remark" column="remark"/>
		<result property="appId" column="app_id"/>
		<result property="appSecret" column="app_secret"/>
		<result property="redirectUrl" column="redirect_url"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>
</mapper>
